.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-warning, .btn-warning:active, .show>.btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  background-image: none;
  border-color: #eb9316;
}
.btn-success, .btn-success:active, .show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}
.btn-danger, .btn-danger:active, .show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}
.alert-custom {
  background: #ff6849;
  color: #fff;
  border-color: #ff6849
}

.alert-inverse {
  background: #4c5667;
  color: #fff;
  border-color: #4c5667
}

.alert-success {
  background: #00c292;
  color: #fff;
  border-color: #00c292
}

.alert-dark {
  background: #686868;
  color: #fff;
  border-color: #686868
}

.alert-warning {
  background: #fec107;
  color: #fff;
  border-color: #fec107
}

.alert-danger {
  background: #fb9678;
  color: #fff;
  border-color: #fb9678
}

.alert {
  border-radius: 2px;
}

.alert-info {
  background: #03a9f3;
  color: #fff;
  border-color: #03a9f3
}

.alert-info .closed,
.alert-info a.closed:hover {
  color: inherit
}

.myadmin-alert {
  border-radius: 0;
  color: #fff;
  padding: 12px 30px 12px 12px;
  position: relative;
  text-align: left
}

.myadmin-alert a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline
}

.myadmin-alert h4 {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0
}

.myadmin-alert .img {
  border-radius: 3px;
  height: 40px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 40px
}

.myadmin-alert-img {
  min-height: 64px;
  padding-left: 65px
}

.myadmin-alert-icon {
  padding-left: 20px
}

.myadmin-alert-icon i {
  padding-right: 10px
}

.myadmin-alert .closed {
  color: rgba(255, 255, 255, .5);
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
  position: absolute;
  right: 3px;
  text-decoration: none;
  top: 0
}

.myadmin-alert .closed:hover {
  color: #fff
}

.myadmin-alert-click {
  cursor: pointer;
  padding-right: 12px
}

.myadmin-alert .primary {
  background: rgba(0, 0, 0, .4);
  border: none;
  border-radius: 3px;
  color: inherit;
  outline: 0;
  padding: 4px 10px
}

.myadmin-alert .cancel {
  background: rgba(255, 255, 255, .4);
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, .8);
  outline: 0;
  padding: 4px 10px
}

.myadmin-alert .cancel:hover,
.myadmin-alert .primary:hover {
  opacity: .9
}

.myadmin-alert-bottom,
.myadmin-alert-bottom-left,
.myadmin-alert-bottom-right,
.myadmin-alert-fullscreen,
.myadmin-alert-top,
.myadmin-alert-top-left,
.myadmin-alert-top-right {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
  display: block;
  position: fixed;
  z-index: 1000
}

.myadmin-alert-top {
  left: 0;
  right: 0;
  top: 0
}

.myadmin-alert-bottom {
  bottom: 0;
  left: 0;
  right: 0
}

.myadmin-alert-top-left {
  left: 20px;
  top: 80px
}

.myadmin-alert-top-right {
  right: 20px;
  top: 80px
}

.myadmin-alert-bottom-left {
  bottom: 20px;
  left: 20px
}

.myadmin-alert-bottom-right {
  bottom: 20px;
  right: 20px
}

.newBox{
  display: inline-block;
  float: left;
  width: 25%;
}
.myadmin-alert-fullsize {
  left: 50%;
  margin: -20px;
  top: 50%
}
.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  background-color: transparent;
  color: #fff;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}
.btn-default.btn-outline {
  background-color: #fff;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn {
  font-size: 14px;
  padding: .8rem 1.2rem;
}
.btn {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}
.btn-default, .btn-default.disabled {
  background: #e4e7ea;
  border: 1px solid #e4e7ea;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn {
  border-radius: 2px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
