.text-muted {
  color: #8d9ea7!important;
}
h1 {
  line-height: 48px;
  font-size: 36px;
}

h2 {
  line-height: 36px;
  font-size: 24px;
}
h3 {
  line-height: 30px;
  font-size: 21px;
}
h4 {
  line-height: 22px;
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 1rem;
}
mark {
  background: #ff0;
  color: #000;
}
.text-white {
  color: #fff!important
}

.text-danger {
  color: #fb9678!important
}

.text-muted {
  color: #8d9ea7!important
}

.text-warning {
  color: #fec107!important
}

.text-success {
  color: #00c292!important
}

.text-info {
  color: #03a9f3!important
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
}
ul.list-icons li i {
  font-size: 12px;
  margin-right: 5px;
}
ul.list-icons li {
  list-style: none;
  line-height: 40px;
}
ul.list-icons {
  margin: 0;
  padding: 0;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*=" ti-"], [class^=ti-] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
blockquote {
  border-left: 5px solid #ff6849!important;
  border: 1px solid rgba(120,130,140,.13);
}

.text-primary {
  color: #ab8ce4!important
}


.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b2b2b;
  font-family: Poppins,sans-serif;
  margin: 10px 0;
  font-weight: 300;
}
