<p>
  emailtemplate works!
</p>

<div class="white-box">
  <h3 class="box-title">Email Template</h3>
  <hr>
  <div class="email_template1">
    <table style="font-family: 'Pacifico';" width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

      <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="border-complete deviceWidth" bgcolor="#e9e9e9">
        <tr>
          <td width="100%"><img src="../../assets/images/divider.png" class="deviceWidth" /> </td>
        </tr>
        <tr>
          <td width="100%">
            <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
              <tr>
                <td id="logo" align="center">
                  <a href="#"><img src="../../assets/images/logo.png" alt="" border="0" /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="100%"><img src="../../assets/images/divider.png" class="deviceWidth" /> </td>
        </tr>
      </table>


      <table width="600" class="border-lr deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed">
        <tr>
          <td>
            <a href="#"><img class="deviceWidth" src="../../assets/images/img-banner.jpg" alt="" border="0" /></a>
          </td>
        </tr>
      </table>


      <table width="600" height="108" border="0" cellpadding="0" cellspacing="0" align="center" class="border-lr deviceWidth" bgcolor="#3baaff">
        <tr>
          <td width="20"></td>
          <td height="20"></td>
          <td width="20"></td>
        </tr>
        <tr>
          <td width="20"></td>
          <td align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
          <td width="20"></td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td width="20"></td>
          <td align="center" style="color: #fff" height="10">LEARN MORE</td>
          <td width="20"></td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </table>

      <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="border-lr deviceWidth" bgcolor="#fff">
        <tr> <td align="center"><h2 id="our-products">Our Products </h2> </td> </tr>
        <tr>
          <td class="center">
            <table width="48%" border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td align="center">
                  <h3 class="our-products">Product No. 1 </h3>
                  <a href="#"><img width="262" src="../../assets/images/image1.jpg" alt="" border="0" class="deviceWidth" /></a>
                  <p class="our-products"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </td>
              </tr>
            </table>
            <table width="48%" border="0" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
              <tr>
                <td align="center">
                  <h3 class="our-products">Product No. 2 </h3>
                  <a href="#"><img width="262" src="../../assets/images/image2.jpg" alt="" border="0" class="deviceWidth" /></a>
                  <p class="our-products"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table width="600" height="151" cellpadding="0" cellspacing="0" align="center" class="border-lr deviceWidth" bgcolor="#3baaff">
        <tr>
          <td align="center">
            <h2 class="special">Special Offer </h2>
            <p class="special">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </td>
        </tr>
      </table>


      <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="border-lr deviceWidth" bgcolor="#fff">
        <tr>
          <td style="text-align: center;">
            <h2> Check our site for coupons </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <a href="#" class="blue-btn" align="center"> LEARN MORE</a>
          </td>
        </tr>
      </table>

      <table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="border-complete deviceWidth" bgcolor="#eeeeed">
        <tr><td width="100%"><img src="../../assets/images/divider.png" class="deviceWidth" /> </td> </tr>
        <tr>
          <td align="center" valign="top" id="socials">
            <table id="social-icons" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="#"><img src="../../assets/images/fb.png" width="32" height="32" style="display:block;" /></a></td>
                <td><a href="#"><img src="../../assets/images/twitter.png" width="32" height="32" style="display:block;" /></a></td>
                <td><a href="#"><img src="../../assets/images/pinterest.png" width="32" height="32" style="display:block;" /></a></td>
                <td><a href="#"><img src="../../assets/images/google.png" width="32" height="32" style="display:block;" /></a></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <p id="footer-txt"> <b>© Copyright 2013 - Email Template - All Rights Reserved</b> <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>
          </td>
        </tr>
        <tr><td width="100%"><img src="../../assets/images/divider.png" class="deviceWidth" /> </td> </tr>
      </table>
    </table>
  </div>
</div>


<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolor aliquid omnis consequatur est deserunt, odio neque blanditiis aspernatur, mollitia ipsa distinctio, culpa fuga obcaecati!
</div>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tr>
    <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
      <!--[if (gte mso 9)|(IE)]>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td align="center" valign="top" width="600">
      <![endif]-->
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;" bgcolor="#044767">
        <tr>
          <td height="35"></td>
        </tr>
        <tr>
          <td align="center" valign="top" style="font-size:0;" bgcolor="#044767">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
              <tr>
                <td align="left" valign="top" width="260">
            <![endif]-->
            <table  align="left" border="0" cellpadding="0" cellspacing="0" width="260">
              <tr>
                <td align="left" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px; color: #fff;" class="mobile-center">
                  Beretun
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td align="right" width="260">
            <![endif]-->
            <table align="left" border="0" cellpadding="0" cellspacing="0" width="260">
              <tr>
                <td align="right" valign="top" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; line-height: 48px;">
                  <table cellspacing="0" cellpadding="0" border="0" align="right">
                    <tr>
                      <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400;">
                        <p style="font-size: 18px; font-weight: 400; margin: 0; color: #ffffff;"><a href="http://pepcus.com" target="_blank" style="color: #ffffff; text-decoration: none;">Shop &nbsp;</a></p>
                      </td>
                      <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;">
                        <a href="http://pepcus.com" target="_blank" style="color: #ffffff; text-decoration: none;"><img src="shop.png" width="27" height="23" style="display: block; border: 0px;"/></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
          </td>
        </tr>
        <tr>
          <td height="35"></td>
        </tr>
        <tr>
          <td align="center" style="padding: 35px; background-color: #0b6793;" bgcolor="#0b6793">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
              <tr>
                <td align="center" valign="top" width="600">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
              <tr>
                <td align="center">
                  <img src="hero-image.png" width="275" height="225" style="display: block; border: 0px;"/>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
              <tr>
                <td align="center" valign="top" width="600">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
              <tr>
                <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                  <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                    A SPECIAL OFFER JUST FOR YOU!
                  </h2>
                  <p style="font-size: 24px; font-weight: 800; line-height: 30px; color: #333333;">Get 30% off your next order.</p>
                </td>
              </tr>
              <tr>
                <td align="center" style="padding: 15px 0;">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" style="border-radius: 5px;" bgcolor="#ed8e20">
                        <a href="http://pepcus.com" target="_blank" style="font-size: 18px; font-family: Open Sans, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #ed8e20; padding: 15px 30px; border: 1px solid #ed8e20; display: block;">Celebrate now</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 24px;">
                  <p style="font-size: 18px; font-weight: 800; line-height: 24px; color: #333333;">Enter promo code CELEBRATE at checkout.</p>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
          </td>
        </tr>
        <tr>
          <td align="center" style="background-color: #ffffff;" bgcolor="#ffffff">
            <img src="../../assets/images/arrow-up.png" width="46" height="22" style="display: block; border: 0px;"/>
          </td>
        </tr>
        <tr>
          <td align="center" style=" padding: 35px; background-color: #1b9ba3; border-bottom: 20px solid #48afb5;" bgcolor="#1b9ba3">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
              <tr>
                <td align="center" valign="top" width="600">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
              <tr>
                <td align="center">
                  <table>
                    <tr>
                      <td style="padding: 0 10px;">
                        <a href="http://pepcus.com" target="_blank"><img src="../../assets/images/icon-facebook.png" width="35" height="29" style="display: block; border: 0px;" /></a>
                      </td>
                      <td style="padding: 0 10px;">
                        <a href="http://pepcus.com" target="_blank"><img src="../../assets/images/icon-twitter.png" width="35" height="29" style="display: block; border: 0px;" /></a>
                      </td>
                      <td style="padding: 0 10px;">
                        <a href="http://pepcus.com" target="_blank"><img src="../../assets/images/icon-instagram.png" width="35" height="29" style="display: block; border: 0px;" /></a>
                      </td>
                      <td style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 400; line-height: 24px; padding: 0 10px;">
                        <a href="http://pepcus.com/blog" target="_blank" style="text-decoration: none; color: #ffffff;">BLOG</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
          </td>
        </tr>
        <tr>
          <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
            <!--[if (gte mso 9)|(IE)]>
            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
              <tr>
                <td align="center" valign="top" width="600">
            <![endif]-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
              <tr>
                <td align="center">
                  <img src="../../assets/images/logo-footer.png" width="37" height="37" style="display: block; border: 0px;"/>
                </td>
              </tr>
              <tr>
                <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 24px; padding: 5px 0 10px 0;">
                  <p style="font-size: 14px; font-weight: 800; line-height: 18px; color: #333333;">
                    675 Massachusetts Avenue<br>
                    Cambridge, MA 02139
                  </p>
                </td>
              </tr>
              <tr>
                <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 24px;">
                  <p style="font-size: 14px; font-weight: 400; line-height: 20px; color: #777777;">
                    If you didn't create an account using this email address, please ignore this email or <a href="http://pepcus.com" target="_blank" style="color: #777777;">unsusbscribe</a>.
                  </p>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
          </td>
        </tr>
      </table>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr>
      </table>
      <![endif]-->
    </td>
  </tr>
</table>


