body	 {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Georgia, Times, serif}
table {border-collapse: collapse; }
td#logo { margin: 0 auto; padding: 14px 0; }
img { border: none;  display: block; }
a.blue-btn {  display: inline-block; margin-bottom: 34px; border: 3px solid #3baaff; padding: 11px 38px; font-size: 12px; font-family: arial; font-weight: bold; color: #3baaff; text-decoration: none; text-align: center;}
a.blue-btn:hover { background-color: #3baaff;  color: #fff;}
a.white-btn {  display: inline-block; margin-bottom: 30px; border: 3px solid #fff; background: transparent; padding: 11px 38px; font-size: 12px; font-family: arial; font-weight: bold; color: #fff; text-decoration: none; text-align: center;}
a.white-btn:hover { background-color: #fff;  color: #3baaff; }
.border-complete { border-top: 1px solid #dadada; border-left: 1px solid #dadada; border-right: 1px solid #dadada; }
.border-lr { border-left: 1px solid #dadada; border-right: 1px solid #dadada; }
#banner-txt { color: #fff; padding: 15px 32px 0px 32px; font-family: arial; font-size: 13px; text-align: center; }
h2#our-products { font-family: 'Pacifico'; margin: 23px auto 5px auto;  font-size: 27px; color: #3baaff; }
h3.our-products { font-family: arial; font-size: 15px; color: #7c7b7b; }
p.our-products { text-align: center;  font-family: arial; color: #7c7b7b; font-size: 12px; padding: 10px 10px 24px 10px; }
h2.special {  margin: 0; color: #fff; color: #fff; font-family: 'Pacifico'; padding: 15px 32px 0px 32px;  }
p.special { color: #fff; font-size: 12px; color: #fff; text-align: center; font-family: arial; padding: 0px 32px 10px 32px; }
h2#coupons{ color: #3baaff; text-align: center; font-family: 'Pacifico'; margin-top: 30px; }
p#coupons{ color: #7c7b7b; text-align: center; font-size: 12px; text-align: center; font-family: arial; padding: 0 32px; }
#socials{ padding-top:12px; }
p#footer-txt { text-align: center; color: #303032; font-family: arial; font-size: 12px; padding: 0 32px; }
#social-icons { width: 28%; }
@media only screen and (max-width: 640px)  {
  body[yahoo] .deviceWidth {width:440px!important; padding:0;}
  body[yahoo] .center {text-align: center!important;}
  #social-icons { width: 40%; }
}

@media only screen and (max-width: 479px) {
  body[yahoo] .deviceWidth {width:280px!important; padding:0;}
  body[yahoo] .center {text-align: center!important;}
  #social-icons { width: 60%; }
}

/* CLIENT-SPECIFIC STYLES */
body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
img { -ms-interpolation-mode: bicubic; }

/* RESET STYLES */
img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
table { border-collapse: collapse !important; }
body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
  .mobile-hide {
    display: none !important;
  }
  .mobile-center {
    text-align: center !important;
  }
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }
