<p>
  chat works!
</p>

<div class="white-box">
  <h3 class="box-title">Chat</h3>
  <hr>
  <div class="chat-box">
    <div class="slimScrollDiv"><ul class="chat-list slimscroll" style="overflow: hidden; width: auto; height: 100%;">
      <li>
        <div class="chat-image"> <img alt="male" src="../../assets/images/sonu.jpg"> </div>
        <div class="chat-body">
          <div class="chat-text">
            <h4>Sonu Nigam</h4>
            <p> Hi, All! </p>
            <b>10.00 am</b> </div>
        </div>
      </li>
      <li class="odd">
        <div class="chat-image"> <img alt="Female" src="../../assets/images/genu.jpg"> </div>
        <div class="chat-body">
          <div class="chat-text">
            <h4>Genelia</h4>
            <p> Hi, How are you Sonu? ur next concert? </p>
            <b>10.03 am</b> </div>
        </div>
      </li>
      <li>
        <div class="chat-image"> <img alt="male" src="../../assets/images/ritesh.jpg"> </div>
        <div class="chat-body">
          <div class="chat-text">
            <h4>Ritesh</h4>
            <p> Hi, Sonu and Genelia, </p>
            <b>10.05 am</b> </div>
        </div>
      </li>
    </ul><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 322.292px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Say something">
          <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                    </span> </div>
      </div>
    </div>
  </div>
</div>
