.white-box{
  width: 480px;
  margin: 0 auto;
}
.chat-list {
  list-style: none;
  max-height: 332px;
  padding: 0 20px;
}
.chat-list li {
  margin-bottom: 24px;
  overflow: auto;
}
.chat-list .odd .chat-image {
  float: right!important;
}
.chat-list .chat-image {
  display: inline-block;
  float: left;
  text-align: center;
  width: 50px;
}

.chat-list .chat-text {
  background: #f7fafc;
  border-radius: 0;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.chat-list .chat-text h4 {
  color: #1a2942;
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 15px;
  position: relative;
}
.chat-list .chat-text p {
  margin: 0;
  padding-top: 3px;
}
.chat-list .chat-text b {
  font-size: 10px;
  opacity: .8;
}
.chat-list .chat-body {
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 12px;
  width: 65%;
}
.chat-list .chat-image img {
  border-radius: 100%;
  width: 100%;
}
.chat-list .odd .chat-text {
  background: #fb9678;
}
.chat-list .odd .chat-body {
  float: right!important;
  margin-right: 12px;
  text-align: right;
  color: #fff;
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success.focus, .btn-success:focus, .btn-success:hover {
  background: #00c292;
  opacity: .8;
  border: 1px solid #00c292;
}
.input-group-btn{
  min-width: 80px;
}
.input-group-btn .btn {
  padding: 8px 12px;
}
.input-group-btn>.btn {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.btn:focus, .btn:hover {
  text-decoration: none;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}
[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}
.btn {
  font-size: 14px;
  padding: .8rem 1.2rem;
}
.btn-success, .btn-success.disabled {
  background: #00c292;
  border: 1px solid #00c292;
}
.btn {
  border-radius: 0;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
  z-index: 3;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control {
  background-color: #fff;
  border: 1px solid #e4e7ea;
  border-radius: 0;
  box-shadow: none;
  color: #565656;
  height: 38px;
  max-width: 100%;
  padding: 7px 12px;
  transition: all 300ms linear 0s;
}
.form-control {
  font-size: 14px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.chat-list .odd .chat-text h4 {
  color: #fff;
}
.slimScrollDiv{
  position: relative;
  overflow-y: auto;
  width: auto;
  height: 100%;
  max-height: 330px;
  margin-bottom: 20px;
}
