<p>
  notificationmodule works!
</p>

<div class="white-box">
  <h3 class="box-title">Notification Module</h3>
  <hr>
  <div class="NotificationModuleWrapper">
    <h4>Notifications <a class="mark_all" (click)="onMarkAllRead()">Mark all as read</a></h4>
    <div class="notification_module">
      <div class="notifications_wrapper"
           [ngClass]="{'read':notification.read || markAllRead}"
           *ngFor="let notification of notifications | paginate: { itemsPerPage: 3, currentPage: p }"
           (click)="onClickRead(notification)">
        <div class="notifications">
          <div class="notification_img">
            <img [src]="notification.imagePath" alt="" />
          </div>
          <div class="notification_content">
            <h5>{{ notification.title }}</h5>
            <p>{{ notification.description }}</p>
            <span> <i class="fa fa-play-circle" aria-hidden="true"></i>  {{ notification.time }}</span>
          </div>
        </div>
      </div>
      <div><pagination-controls class="pagination_controls" (pageChange)="p = $event"></pagination-controls></div>
    </div>
  </div>
</div>
