.white-box {
  width: 480px;
  margin: 0 auto;
  padding: 25px 0;
}
.white-box .box-title {
  padding: 0 25px;
}
.NotificationModuleWrapper h4{
  padding: 0 25px 15px 25px;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}
.NotificationModuleWrapper h5{
  font-size: 18px;
}
.mark_all:hover{
  color: #fff;
  text-decoration: none;
  background: #779900;
}
.mark_all{
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #779900;
  padding: 5px 10px;
  cursor: pointer;
}
.notification_content{
}
.notifications{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.notification_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #adadad;
  min-width: 80px;
  margin-right: 20px;
}

.notification_content p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification_content span{
  color: #779900;
}

.notification_img img{
  max-width: 100%;
}
/*
.notification_module{
  max-height: 300px;
  overflow-y: auto;
}
*/

.notifications_wrapper.read{
  background: #f3f3f3;
}

.notifications_wrapper{
  padding: 10px 25px;
  border-bottom: 1px solid #e5e5e5;
}

.ngx-pagination{
  display: none;
}

.pagination_controls /deep/ .ngx-pagination {
  padding: 20px 25px 0;
  text-align: right;
  margin-bottom: 0;
}

.pagination_controls /deep/ .ngx-pagination li.current{
  padding: 5px 15px;
  background: #779900;
  margin-right: 5px;
  border: 1px solid #779900;
}
.pagination_controls /deep/ .ngx-pagination a, .pagination_controls /deep/ .ngx-pagination button, .pagination_controls /deep/ .ngx-pagination .disabled{
  padding: 5px 15px;
  margin-right: 5px;
  border: 1px solid #DDF485;
}
.pagination_controls /deep/ .ngx-pagination a:hover, .pagination_controls /deep/ .ngx-pagination button:hover{
  background: #779900;
  color: #fff;
  text-decoration: none;
}
