<!--<p>
  advisor works!
</p>-->
<div class="advisor_component_wrapper">
  <div class="white-box">
    <h3 class="box-title">Contact Us</h3>
    <hr>
    <div class="advisor_board">
      <div class="header-advisor">
        <div class="image-adv">
          <img src="../../assets/images/sonu.jpg" alt="" />
        </div>
        <div class="header-content">
          <h4>Name Jain</h4>
          <p>6546546547</p>
        </div>
      </div>
      <div class="content-advisor">
        <a href="#" class="email-advisor">advisor@pepcus.com</a>
      </div>
      <div class="footer-advisor">
        <p> <span>201 Balaji Corporate House</span>
          <span> Zanzeer Wala Sq., New Palasia</span>
          <span>Indore, 452001</span></p>
      </div>
    </div>
  </div>
  <div class="white-box">
    <h3 class="box-title">Enquiry Form</h3>
    <hr>
    <div class="advisor_board">
      <div class="header-advisor">
        <div class="image-adv">
          <img src="../../assets/images/sonu.jpg" alt="" />
        </div>
        <div class="header-content">
          <h4>Name Jain</h4>
          <p>6546546547</p>
        </div>
      </div>
      <div class="content-advisor">
        <a href="#" class="email-advisor">advisor@pepcus.com</a>
      </div>
      <div class="footer-advisor">
        <p> <span>201 Balaji Corporate House</span>
          <span> Zanzeer Wala Sq., New Palasia</span>
          <span>Indore, 452001</span></p>
      </div>
      <div class="enquiry_btn_wrapper"><a class="enquiry_btn" href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Enquiry</a></div>
    </div>
  </div>
</div>
