.advisor_component_wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.advisor_component_wrapper .white-box {
  width: 48%;
}
.header-advisor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-advisor{
  display: inline-block;
  text-decoration: none;
  color: #779900;
  margin: 10px 0;
}
.image-adv{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dbdbdb;
}
.header-content{
  width: 65%;
}
.header-content h4{
  margin-bottom: 10px;
  margin-top: 0;
}
.footer-advisor span{
  display: block;
}
.enquiry_btn{
  display: inline-block;
  font-size: 16px;
  padding: 7px 14px;
  background: rgba(215, 61, 61, 1);
  text-decoration: none;
  color: #fff;
}
.enquiry_btn:hover{
  background: rgba(215, 61, 61, 0.9);
}
.enquiry_btn_wrapper{
  text-align: right;
}

p{
  margin: 0;
}
