<p>
  crop works!
</p>

<div class="white-box">
  <h3 class="box-title">Cropping Tool</h3>
  <hr>
  <div class="cropping-wrapper">
    <div class="image_cropping_section">
      <div class="image_cropping-left">
        <img src="../../assets/images/image.jpg" alt="" />
      </div>
      <div class="image_cropping-right">
        <div class="image_crop_right_left">
          <div class="main_image">
            <img src="../../assets/images/image.jpg" alt="" />
          </div>
        </div>
        <div class="image_crop_right_right">
          <div class="main_image">
            <img src="../../assets/images/image.jpg" alt="" />
          </div>
          <div class="image_crop_small">
            <div class="main_image small1">
              <img src="../../assets/images/image.jpg" alt="" />
            </div>
            <div class="main_image small2">
              <img src="../../assets/images/image.jpg" alt="" />
            </div>
          </div>

        </div>


      </div>
    </div>
    <div class="image_edit_options">
      <div class="edit_options_wrapper">
        <div class="edit_icons">
          <a href="#"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-search-minus" aria-hidden="true"></i></a>
        </div>
        <div class="edit_icons">
          <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
        <div class="edit_icons">
          <a href="#"><i class="fa fa-undo" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-repeat" aria-hidden="true"></i></a>
        </div>
        <div class="edit_icons">
          <a href="#"><i class="fa fa-arrows-h" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
        </div>
        <div class="edit_icons">
          <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a>
        </div>
        <div class="edit_icons">
          <a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
