.image_cropping_section{
  display: flex;
  justify-content: space-between;
}
.image_crop_small{
  display: flex;
  justify-content: space-around;
}
.image_cropping-left{
  width: 65%;
}
.image_cropping-right{
  width: 33%;
  display: flex;
  justify-content: space-between;
}
.image_crop_right_left{
  width: 60%;
}
.image_crop_right_right{
  width: 38%;
}
.small1{
  width: 50%;
}
.small2{
  width: 30%;
}
.edit_icons{
  display: inline-block;
  margin: 0 10px;
  float: left;
  background: #00AEEF;
  color: #fff;
  padding: 2px 10px;
}
.edit_options_wrapper{
  display: flex;
}
.image_edit_options{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.edit_icons > a{
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
  font-size: 20px;
}
img{
  max-width: 100%;
}
