<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <!-- <h3>I'm in the AppComponent!</h3>
      <hr>-->
      <!--<app-servers></app-servers>-->
      <!--<div app-servers></div>-->
      <!--<div class="app-servers"></div>-->
<!--      <app-advisor></app-advisor>
      <hr>-->
      <!--<app-notification></app-notification>-->
<!--      <hr>
      <app-chat></app-chat>
      <hr>
      <app-animate></app-animate>
      <hr>
      <app-crop></app-crop>
      <hr>
      <app-emailtemplate></app-emailtemplate>
      <hr>
      <app-socialmedia></app-socialmedia>
      <hr>
      <app-typography></app-typography>
      <hr>
      <app-tooltip></app-tooltip>
      <hr>-->
      <app-notificationmodule></app-notificationmodule>
    </div>
  </div>
</div>

