/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Poppins', sans-serif;
}

.white-box {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  border-radius: 2px;
  background: #fff;
  padding: 25px;
  margin-bottom: 15px;
  overflow: hidden;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.white-box .box-title {
  margin: 0 0 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
