<p>
  socialmedia works!
</p>

<div class="white-box">
  <h3 class="box-title">Social Media</h3>
  <hr>
  <div class="social_media">
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google +</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linked In</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i> Tumblr</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i> Reddit</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-delicious" aria-hidden="true"></i> Delicious</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-skype" aria-hidden="true"></i> Skype</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-comments" aria-hidden="true"></i> SMS</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-hacker-news" aria-hidden="true"></i> Y News</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-stumbleupon" aria-hidden="true"></i> Stumble</a></span>
    <span class="social_media_icons"><a class="social_icon" href="#"><i class="fa fa-get-pocket" aria-hidden="true"></i> Pocket</a></span>

  </div>
</div>
