.white-box{
  width: 500px;
  margin: 0 auto;
}
.social_icon{
  display: inline-block;
  text-decoration: none;
  color: #020202;
  padding: 5px 10px;
  background: #f2f2f2;
  min-width: 100px;
}
.social_media_icons{
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
